<div class="Container">
    <ul>
        <li>
            <input type="text" class="form-control" placeholder="Email ID" id="Accountid" onblur="checkEmail()">
            <div id="refer">Enter the mail id first</div>
        </li>
        <li>
            <input type="password" class="form-control" placeholder="Password" id="Accountpas">
        </li>
        <li>
            <input type="button" value="Sign in" class="btn btn-primary" onclick=info()>
            <span class="link" onclick="Openpage('forgot')">Forgot Password?</span>
            <span class="link" onclick="Openpage('register')">New signin</span>
        </li>
        <li class="Correction"> 
            Check the email id & password
        </li>
    </ul>
</div>

