<div class="Container">
    <ul>
        <li>
            <input type="text" class="form-control" placeholder="Email ID" id="newemail">
        </li>
        <li>
            <input type="text" class="form-control" placeholder="Password" id="newpass">
        </li>
        <li>
            <input type="text" class="form-control" placeholder="Re-Enter Password" id="repass">
        </li>
        <li>
            <input type="button" value="Sign in" class="btn btn-primary" onclick="newSingn()">
            <span class="link" onclick="Openpage('login')"> << login Page</span>
        </li>
        <li>
            <span id="regist">Registed Succesfully</span>
        </li>
    </ul>
</div>