
		ul{
			border: 1px solid;
			margin: 10px;
			padding: 10px;
			list-style: none;
			display: grid;
			align-items: flex-start;
			float: right;
		

		}
		li{
			border: 1px solid;
			margin: 10px;
			padding: 10px;
			
			background-color: floralwhite;

		}
		.acprice{
			color: red;
			
		}
		 img{
			width: 150px;
			height: 150px;
		}
		