.backgroundimg{
    background-image: url("./netfliximg.jpg");
    background-size: cover;
}
.backgroundcolor{
    background-color:rgba(0, 0, 0, 0.5);
    width: 100;
    height: 700px;
    color: white;
}